.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-center {
  text-align: center !important;
}

#gridDeleteSelected {
  position: absolute;
  z-index: 1;
  right: 0;
  margin: 1px;
  top: 0;
}

#gridDeleteSelected .dx-button-text {
  line-height: 0;
}

#gridContainer {
  border: 1px solid color(srgb 0.3541 0.3542 0.3542);
  padding: 10px;
  border-radius: 8px;
}

.tabpanel-item {
  height: 200px;
  user-select: none;
  padding-left: 25px;
  padding-top: 55px;
}

.mobile .tabpanel-item {
  padding-top: 10px;
}

.tabpanel-item > div {
  float: left;
  padding: 0 85px 10px 10px;
}

.tabpanel-item p {
  font-size: 16px;
  margin: 0;
}

.item-box {
  font-size: 16px;
  margin: 15px 0 45px 10px;
}

.options {
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
  margin-top: 20px;
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option {
  margin-top: 10px;
}

html,
body {
  height: 100%;
}

.header-bg,
.header-bg .dx-tabpanel-tabs .dx-tabs .dx-tabs-wrapper .dx-item,
.header-bg .dx-tabpanel-tabs .dx-tabs {
  background-color: #e9edee !important;
}

.border-none,
.border-none .dx-buttongroup .dx-buttongroup-wrapper .dx-widget {
  border: none !important;
}

.header-bg .dx-tabpanel-tabs .dx-tabs .dx-tabs-wrapper .dx-item {
  box-shadow: none;
}

.grid-box {
  padding: 1% 2% 0% 2% !important;
}

.form .dx-box {
  align-items: center !important;
}

.form .dx-form-group-with-caption > .dx-form-group-content {
  border: 1px solid #ddd !important;
  margin: 1% 25% 1% 25% !important;
}

.form {
  padding-top: 2%;
}
